* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body,
html {
  height: 100%;
  background-color: white;
}

/* HEADER */
.header {
  background-color: #042424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img,
footer .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0px 23px;
  margin-top: 20px;
}

.header .nav-links li:hover,
.overlay a:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 20px;
  color: #52bcbc;
}

.header .nav-links li a:hover {
  color: #bff8f8;
}

.menu {
  display: none;
}

.header .btn button,
.header .menu button,
body #text .enviar button{
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #bff8f8;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
  background-color: #bff8f8;
  color: #52bcbc;
  transform: scale(1.1);
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

@media screen and (max-width:1000px) {

  .nav-links,
  .btn {
    display: none;
  }

  .menu {
    display: inherit;
  }
}

/* NAVBAR */
.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(4, 36, 36, .90);
  backdrop-filter: blur(2px);
  overflow: hidden;
  transition: all 0.3s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #52bcbc;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #bff8f8;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-width:450px) {
  .header .overlay a {
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* PRESENTACION MAIN */

.img-1 {
  background-image: url("../img/img1.jpg");
  height: 100%;
}

.img-2 {
  background-image: url("../img/img2.jpg");
  height: 400px;
}

.img-3 {
  background-image: url("../img/img3.jpg");
  height: 400px;
}

.img-4 {
  background-image: url("../img/img4.jpg");
  height: 400px;
}

.img-1,
.img-2,
.img-3,
.img-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 0.75;
}

.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #042424;
  color: white;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  border-radius: 3px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#text {
  color: #777;
  background-color: white
  ;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

@media screen and (max-width:450px) {
  .caption span.border {
    padding: 10px;
    font-size: smaller;
    letter-spacing: 1px;
  }

  #text, #text p, h3{
    text-align: center;
    padding: 10px 10px;
    text-align: justify;
    font-size: smaller;
  }
}

/* FOOTER */
footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


footer a.logo {
  font-size: 25px;
  font-weight: bold;
}

.footer-right {
  float: right;
}

@media screen and (max-width: 450px) {
  footer a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .footer-right {
    float: none;
  }
}

/* ABOUT */
.card, .card img{
  border-radius: 0px;
}

@media screen and (min-width: 950px) {
  .ratio {
    width: 75%;
  }
}